<!-- build:js /assets-admin/min/scripts.min.js -->
<script src="/assets-admin/js/jquery-2.1.1.js"></script>
<script src="/assets-admin/js/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/assets-admin/js/bootstrap.min.js"></script>
<script src="/assets-admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/assets-admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/assets-admin/js/inspinia.js"></script>
<script src="/assets-admin/js/plugins/toastr/toastr.min.js"></script>
<script src="/assets-admin/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/assets-admin/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/assets-admin/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="/assets-admin/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
<script src="/assets-admin/js/jquery.chained.remote.min.js"></script>
<script src="/assets-admin/js/plugins/summernote/summernote.js"></script>
<script src="/assets-admin/js/plugins/summernote/lang/summernote-pt-BR.js"></script>
<script src="/assets-admin/js/ext/summernote-ext.js"></script>
<script src="/assets-admin/js/ext/summernote-ext-specialchars.js"></script>
<script src="/assets-admin/js/ext/summernote-ext-myenter.js"></script>
<script src="/assets-admin/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/assets-admin/js/plugins/select2/select2.js"></script>
<script src="/assets-admin/js/plugins/validate/jquery.validate.min.js"></script>
<script src="/assets-admin/js/plugins/validate/additional-methods.min.js"></script>
<script src="/assets-admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="/assets-admin/js/plugins/flot/jquery.flot.js"></script>
<script src="/assets-admin/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/assets-admin/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/assets-admin/js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/assets-admin/js/plugins/flot/jquery.flot.time.js"></script>
<script src="/assets-admin/js/plugins/jqGrid/jquery.jqGrid.min.js"></script>
<script src="/assets-admin/js/plugins/jsTree/jstree.min.js"></script>
<script src="/assets-admin/js/plugins/d3/d3.min.js"></script>
<script src="/assets-admin/js/plugins/c3/c3.min.js"></script>
<script src="/assets-admin/js/plugins/jquery-stars/stars.min.js"></script>
<script src="/assets-admin/js/plugins/daterangepicker2/moment.min.js"></script>
<script src="/assets-admin/js/plugins/daterangepicker2/daterangepicker.js"></script>
<script src="/assets-admin/js/plugins/basictable/jquery.basictable.min.js"></script>
<script src="/assets-admin/js/plugins/floatThead/jquery.floatThead.min.js"></script>
<script src="/assets-admin/js/plugins/treetable/jquery.treetable.js"></script>
<script src="/assets-admin/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/assets-admin/js/plugins/hotkeys/hotkeys.min.js"></script>
<script src="/assets-admin/js/plugins/jquery-maskedinput/jquery.maskedinput.min.js"></script>
<script src="/assets-admin/js/plugins/lity/lity.min.js"></script>
<script src="/assets-admin/js/plugins/tooltipster/tooltipster.bundle.min.js"></script>
<script src="/assets-admin/js/plugins/tooltipster/tooltipster-ext.js"></script>
<script src="/assets-admin/js/plugins/js-cookie/js.cookie.js"></script>
<!-- endbuild -->