<!-- build:css /assets-admin/min/estilos.min.css -->
<link href="/assets-admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/bootstrap.custom.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/js/plugins/gritter/jquery.gritter.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/jQueryUI/jquery-ui.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/summernote/summernote.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/summernote/summernote-bs3.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/chosen/chosen.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/js/plugins/select2/select2.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/js/plugins/select2/select2-bootstrap.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/iCheck/custom.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/c3/c3.min.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/jquery-stars/stars.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/daterangepicker2/daterangepicker.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/basictable/basictable.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/jqGrid/ui.jqgrid.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/treetable/jquery.treetable.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/treetable/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/animate.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/style.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/custom.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/mobile.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/datapicker/datepicker3.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/jsTree/style.min.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/tooltipster/tooltipster.bundle.min.css" rel="stylesheet" type="text/css">
<link href="/assets-admin/css/plugins/lity/lity.min.css" rel="stylesheet" type="text/css">
<!-- endbuild -->