@media screen and (max-width: 361px) and (min-width: 359px) {
.topbar-right {
	padding-left: 0px!important;
	padding-right: 0px;
}
#topbar-col1 {
	width: 64%!important;
}
#topbar-col2 {
	width: 32%!important;
}
}
@media screen and (max-width: 321px) and (min-width: 319px) {
.caderno-botoes .curso-parcelas{
	display: block!important;
}
.topbar-right {
	padding-left: 0!important;
	padding-right: 0;
}
.pl-topbar {
	padding-left: 0!important;
	padding-right: 0!important;
}
#topbar-col1 {
	width: 62%!important;
}
#topbar-col1 img {
	height: 35px;
}
#topbar-col2 {
	width: 34%!important;
}
#painel-simulado {
	padding: 0!important;
}
#painel-simulado li {
	font-size: 12px!important;
}
}
@media handheld, only screen and (min-width: 768px) and (max-width: 1000px) {

#modal-form-filter .modal-dialog, div.modal-form-content {
	width: 700px;
}

.filtro-incluir .col-md-2 {
	width: 20%;
}

.filtro-incluir .col-md-offset-2 {
	margin-left: 20.5%;
}
.banner1080{
	display: none;
}
.banner768{
	display: unset;
}
.banner414{
	display: none;
}
}

@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}
/* ipad */
@media screen and (max-width: 768px) and (min-width: 577px){
.padding-img-sim-md {
	padding: 0;
}
}
/* ipad pro */
@media screen and (max-width: 1024px) and (min-width: 768px){
.padding-img-sim-md {
	padding: 0;
}
}
@media only screen and (max-width: 767px) {

.btn-comprar-simulado .col-md-2 {
	width: 30px;
	float: left;
}

.btn-comprar-simulado .col-md-9 {
	float: left
}
	
.btn-default {
	margin-bottom: 3px;
}

.comentario-professor-destaque {
	position: initial;
	top: 0px;
	text-align: right;
}

.comentario-professor-destaque img {
	width: 20px;
	height: 20px;
}

/*
#dt_assunto th:nth-child(3), #dt_assunto th:nth-child(5),
#dt_assunto td:nth-child(3), #dt_assunto td:nth-child(5) {
	display: none;
}

#dt_disciplina th:nth-child(2), #dt_disciplina th:nth-child(3), #dt_disciplina th:nth-child(4),
#dt_disciplina td:nth-child(2), #dt_disciplina td:nth-child(3), #dt_disciplina td:nth-child(4) {
	display: none;
}
*/
#filtros-por-disciplina-div, #filtros-por-assunto-div, #filtros-por-banca-div {
	margin-top: 60px;
}

.filtro-incluir label{
	display: block !important;
	float: none !important;
	padding: 2px 0 !important;
	margin-left: 0 !important;
}

.filtro-simulado label {
    margin: 0 10px !important;
    width: 100%;
}

.legenda-celula {
	display: block;
	width: 100%;
}

.max-width-100p {
	max-width: 100%;
}

#midias .woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n) {
	float: initial;
}
	
.modal-form-content {
	width: 98% !important;
}

.modal-form-content .panel-options {
	width: 126% !important;
}

#modal-form-filter .modal-dialog {
    width: auto !important;
}

#modal-categorizar-caderno .modal-dialog .nav-tabs {
    height: 80px !important;
}

#modal-compartilhar-caderno input {
	margin-top: 5px;
}

.mobile-margin-20-t-b {
	margin: 20px 0;
}

.mobile-hide {
	display: none!important;
}
.pl-topbar {
	padding-left: 3px;
	padding-right: 0;
}

.panel-options {
	width: 119%;
}
#timer-box {	
    top: 226px;  
}
.finalizar-fixo {
	top: 296px;
}
.mobile-show {
	display: block!important;
}

div.notificacao .panel-heading {
    height: 155px;/*85px;*/
}

.notificacao .panel-options {
	width: 120%;
}
.topbar-right {
	text-align: center;
	padding-bottom: 10px;
	padding-left: 12px;
	padding-right: 0;
}
.questao-acao-link {
	margin-bottom: 10px;
	display: inline-block;
}
.navbar-toggle .icon-bar {
	width: 17px!important;	
}
.questao-texto-base img, .questao-enunciado img, .questao-opcoes img {
	max-width: 100% !important;
	height: auto !important;
	display: block !important;
}

div.simulado .widget {
	height: auto;
}
div.simulado .widget-free {
	height: auto!important;
}

table.bt tfoot th::before, table.bt tfoot td::before, table.bt tbody td::before {
    width: auto !important;
    margin-right: 5px !important;
}

.widget-simulado {
	width: 100%;
}

.caderno-widget .caderno-info-row{
	margin-top: 15px;
	min-height: 70px;
	padding-left: 8px;
}
.caderno-widget .total-questoes-caderno {
	margin-top: 10px;
}
.caderno-widget .caderno-info{	
	position: absolute;
	top: -254px;
	left: 0;	
}

.caderno-botoes a{
	display: block;
}

.caderno-widget .btn-caderno{
	display: block;
	width: 100%;
}

.banner1080{
	display: none;
}
.banner768{
	display: none;
}
.banner414{
	display: unset;
}

}

@media only screen and (max-width: 480px) {

.desktop-hide {
	display: none;
}

.tablet-hide {
	display: none;
}

}
@media screen and (max-width: 768px) and (min-width: 577px) {
.ipad-hide {
	display: none!important;
}
.ipad-show {
	display: block!important;
}
.panel-options {
	width: 108.7%;
}
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
#bs-example-navbar-collapse-1 a {
    font-size: 9pt;
}
.ipadpro-hide {
	display: none!important;
}
.panel-options {
	width: 106.6%;
}
#cdn-col.col-md-3 {
	width: 19%!important;
}
}	
@media screen and (max-width: 1366px) and (min-width: 1025px) {
.caderno-widget .nome_caderno {    
    padding-left: 8px;
}
.caderno-widget .texto-gratis {
    padding-left: 8px;
}
div.caderno-img{
	width: 22%!important;
}
.caderno-img img {
    padding-left: 8px;
    padding-bottom: 8px;
}
.banner-cadernos img {
	width: 98%!important;
}
}
@media screen and (max-width: 2000px) and (min-width: 1367px) {

.banner-cadernos img {
	width: 99%!important;
}
}

@media screen and (max-width: 1024px) and (min-width: 993px) {

.banner-cadernos img {
	width: 98%!important;
}
#espaco-ipadpro{
	    padding-bottom: 5%;
}
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
#menu-nav .navbar-nav {
    margin: 50px -15px 0!important;
    text-align: center;
}
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}